:root {
  --main-color: #e6dfc7;
  --main-color-rgb: 230, 223, 199;
}
.fadeUp {
  opacity: 0;
  transform: translateY(32px);
  -webkit-animation: fadeUp 2s ease forwards;
  animation: fadeUp 2s ease forwards;
}
.fadeDown {
  opacity: 0;
  transform: translateY(-32px);
  -webkit-animation: fadeDown 2s ease forwards;
  animation: fadeDown 2s ease forwards;
}
.fadeLeft {
  opacity: 0;
  transform: translateX(32px);
  -webkit-animation: fadeLeft 2s ease forwards;
  animation: fadeLeft 2s ease forwards;
}
.fadeRight {
  opacity: 0;
  transform: translateX(-32px);
  -webkit-animation: fadeRight 2s ease forwards;
  animation: fadeRight 2s ease forwards;
}
body {
  font-family: 'Righteous', cursive;
}
.container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 32px 0;
  z-index: 1;
  overflow: hidden;
}
.header__flex {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: auto;
}
.header-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.header-logo__icon {
  transition: 0.6s;
  margin-right: 20px;
}
.header-logo__icon svg.icon {
  width: 64px;
  height: 64px;
  fill: transparent;
}
.header-logo__caption {
  white-space: nowrap;
  font-size: 16px;
}
.header-logo:hover .header-logo__icon {
  margin-right: 16px;
}
.header__email {
  margin-right: 40px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.header-email a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: 0.6s;
}
.header-email__icon {
  margin-right: 10px;
  transition: 0.6s;
}
.header-email__icon svg.icon {
  width: 24px;
  height: 24px;
  stroke: transparent;
  fill: var(--main-color);
  transition: 0.6s;
}
.header-email:hover {
  --main-color: #ebcf6f;
}
.header-email:hover a {
  color: var(--main-color);
}
.header-email:hover .header-email__icon {
  margin-right: 6px;
}
.header__hamburger {
  cursor: pointer;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.header__hamburger svg.icon {
  width: 48px;
  height: 48px;
  transition: 0.6s;
  fill: var(--main-color);
}
.header__hamburger:hover svg.icon {
  --main-color: #ebcf6f;
}
.nav {
  background: rgba(17,17,17,0.9);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
}
.nav_active {
  opacity: 1;
  visibility: visible;
}
.nav .container {
  height: 100%;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 100%;
}
.nav__close {
  position: absolute;
  top: 40px;
  right: 0;
  cursor: pointer;
}
.nav__close svg.icon {
  width: 48px;
  height: 48px;
  fill: var(--main-color);
  transition: 0.6s;
}
.nav__close:hover {
  --main-color: #ebcf6f;
}
.nav__links ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  line-height: 2;
}
.nav__links ul li.active {
  --main-color: #ebcf6f;
}
.nav__links ul li.active a {
  color: var(--main-color);
}
.nav__links ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.6s;
  font-size: 24px;
}
.nav__links ul li a:hover {
  --main-color: #ebcf6f;
  color: var(--main-color);
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  padding: 148px 0;
  overflow: hidden;
}
.hero__image {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.hero__image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.hero__image:after {
  content: '';
  display: block;
  background: rgba(17,17,17,0.32);
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.hero__wrapper {
  z-index: 1;
  width: 100%;
}
.hero__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-body {
  color: #fff;
}
.hero-body__title {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.hero-body__title h1 {
  font-size: 64px;
  transition: 0.6s;
}
.hero-body__title:after {
  content: '';
  width: 100px;
  height: 2px;
  display: block;
  background: var(--main-color);
  margin: 32px 0;
}
.hero-body__text {
  max-width: 370px;
  font-size: 18px;
  margin-bottom: 80px;
  transition: 0.6s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.hero-body__text p:last-child {
  margin-bottom: 0;
}
.hero-body__button {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.hero-body__button a {
  text-transform: uppercase;
  background: rgba(var(--main-color-rgb), .24);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border: 2px solid var(--main-color);
  padding: 0 66px;
  color: var(--main-color);
  text-decoration: none;
  transition: 0.6s;
}
.hero-body__button a:hover {
  --main-color: #ebcf6f;
  --main-color-rgb: 235, 207, 111;
}
.hero__socials {
  margin-right: 8px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.hero-socials {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-socials:before,
.hero-socials:after {
  height: 100px;
  width: 2px;
  background: var(--main-color);
  content: '';
  display: block;
  transition: 0.6s;
}
.hero-socials svg.icon {
  width: 32px;
  height: 32px;
  fill: var(--main-color);
  transition: 0.6s;
}
.hero-socials ul {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  transition: 0.6s;
}
.hero-socials ul li:not(:last-child) {
  margin-bottom: 20px;
}
.hero-socials ul li:hover {
  --main-color: #ebcf6f;
}
.hero-socials:hover:before,
.hero-socials:hover:after {
  height: 80px;
}
svg.hidden {
  display: none;
}
@media (max-width: 767.98px) {
  .header-logo__icon {
    margin-right: 0;
  }
  .header-logo__caption {
    display: none;
  }
  .header-email__icon {
    margin-right: 0;
  }
  .header-email:hover .header-email__icon {
    margin-right: 0;
  }
  .header-email__address {
    display: none;
  }
  .hero-body__title h1 {
    font-size: 48px;
  }
  .hero-body__text {
    font-size: 16px;
    max-width: 330px;
  }
}
@media (max-width: 575.98px) {
  .header__email {
    margin-right: 20px;
  }
  .hero-body__title h1 {
    font-size: 36px;
  }
  .hero-body__text {
    max-width: 230px;
    font-size: 14px;
  }
}
@media (max-height: 419.98px) {
  .nav__wrapper {
    justify-content: center;
  }
  .nav__links ul {
    text-align: center;
  }
}
@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(32px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(32px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-32px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-32px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
#gh {
  color: black;
  text-align: center;
}
#hg {
  color: black;
  text-align: center;
}
button{ 
  background-color: crimson;
  color: aqua;
  text-align: center;
  justify-content: center;
	padding: 10px 35px;  
	overflow:hidden;
}
button:before {
	font-family: FontAwesome;
	content:"\f07a";
	position: absolute;
	top: 11px;
	left: -30px;
	transition: all 200ms ease;
}
button:hover:before {
	left: 7px;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
button:hover {
	animation: bounce 1s;
}
.bn {
  text-decoration: none;
}
.cvb {
  color: aqua;
  text-align: center;
}
.cvb:hover {
  color: aliceblue;
}
.nnmm:hover{
  font-size: larger;
  color: chartreuse;
}
.ddd:hover {
  color: aqua;
  font-weight: 700;
}
.card:hover {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
